
body{
  font-family: var(--font-body);
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-black);
  margin: 0;
  padding: 0;
}
.hexagon-mask {
  clip-path: polygon(
    25% 6%,
    75% 6%,
    100% 50%,
    75% 94%,
    25% 94%,
    0% 50%
  );
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

